.input-field {
    border: 1px solid white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 10%;

    background-color: #0F0F0F;
    border-radius: 5px;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    margin: 1vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-weight: bold;
    color: red;
}

.container p {
    margin: 0;
    padding: 0;
}

.container a {
    text-decoration: none;
    color: red;
}

.running-time {
    color: red;
}

.machine-link {
    margin-top: 100px;
}

button:hover {
    background-color: #a0a0a0;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header a:hover {
    background-color: #272727;
}

.header a span {
    margin-left: 5px;
    position: relative;
    top: -2px;
}