.challenges-page {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
}

.challenge-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-left: 2vh;
}

.challenge-button.active {
    background-color: #A0A0A0;
}

.table-header {
    font-weight: bold;
    color: red;
}

.table-header, .challenge-row {
    display: flex;
    justify-content: center;
}

.table-header p, .challenge-row p {
    flex: 1;
    text-align: center;
}

.challenge-row {
    border: 1px solid #fff;
    border-bottom: 0;
}

.challenge-row:last-child {
    border-bottom: 1px solid #fff;
}

.challenge-row {
    cursor: pointer;
}

.challenge-row:hover {
    background-color: #272727;
}